source:
  name: <database>
  user: <user>
  password: <password>
  host: <host:port>
destination:
  name: <database>
  user: <user>
  password: <password>
  host: <host:port>
#recreate: true
#truncate: true
tables:
  skip: #[TableName]
  only: #[TableName]
