source:
  name: <database>
  user: <user>
  password: <password>
  host: <host:port>
destination:
  name: <database>
  user: <user>
  password: <password>
  host: <host:port>
recreate: true
#truncate: true
#tables:
#  filters:
#    TestFact: # WHERE condition for records to copy
#  skip: #[TableName,...]
#  only: #[TableName,...]
